{% extends 'index.html' %}
{% load static %}
{% block content %}
<form action="login" method="POST">
    {% csrf_token %}

    <!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">


</head>

<body>
	<center>
	<div class="form">
	<p class="heading" style="font-family: Roboto;"> Signup Form
	</h2>
	</br>

	<p class="pad"><input class="inbox" type="text" name="uname" placeholder="user name"> </p>
	<p class="pad "><input class="inbox" type="Password" name="pass" placeholder="Password" ></p>
	<input type="submit" value="login" class="btn-info">
</div>
</body>
</center>
</html>
 {% comment %}  UserName :<input type="text" , name="uname"> <br>
   Password :<input type="Password" , name="pass"> <br>
 {% endcomment %}
    
</form>

<div>
    <center> {% for message in messages %}
        {{message}}
      {% endfor %}
    </center>
</div>
{% endblock %}