{% extends 'index.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'style2.css' %}">

<body>
	<div class=loginbox>
		<img src="{% static 'avatar.png' %}" class="avatar">  
        <h1>Reset password</h1>
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{form|crispy}}
                </fieldset>
                <div class="form-group">
                <input type="submit" value="Request password reset">
                </div>
            </form>
        </div>
</div>

{% endblock %}