{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<style>
    .continer{padding : 30px;}
</style>
<link rel="stylesheet"  href="{% static 's.css' %}">
    </head>
    <body>
        <h1 style="text-align: center; padding-top:50px;"> {{h}}s</h1>
        {% csrf_token %}
        {%  if user.is_authenticated %}
        <div class="container-fluid">
        <div class="row">
            {% for i in resource %}
                    <div class="col-lg-4">
                    <div class="card">
                    <img class="card-img-top" src="//placehold.it/350x350" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">{{ i.content.name }} </h4>
                                <p class="card-text">{{h}}</p>
                                <a href="{{path}}{{i.content}}" target="_blank" class="btn btn-primary">Download</a>
                            </div>
                        </div>
                    </div>
            {% endfor %}
         </div>
         </div>   
        {% endif %}
    </body>
    </html>