{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>S1</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet"  href="{% static 's.css' %}">
</head>
<img src="https://www.amrita.edu/sites/default/files/amrita-amritapuri-campus-banner-1.jpg" style="width: 1550px;height: 400px;">
<body>
<div class="menu-bar">

<ul>
	{% csrf_token %}
	{% for item in Courses.all %}
		<li class="hover-me"><a href="#">{{item.course_name}}</a>
        	 <div class="sub-menu">
        	 	<ul>
         			<li><a href="/course/give/NT?li=[{{item.course_name}},{{item.course_code}},{{item.semester}}]">Notes</a></li>
         			<li><a href="/course/give/QP?li=[{{item.course_name}},{{item.course_code}},{{item.semester}}]">Question papers</a></li>
         			<li><a href="/course/give/TB?li=[{{item.course_name}},{{item.course_code}},{{item.semester}}]">TextBooks</a></li>
					{% if  user.is_superuser %}
						<li><a href="/course/Adddata?li=[{{item.course_name}},{{item.course_code}},{{item.semester}}]"> Addcontent </a> 
					{% endif %}



         	</ul>




		 </div></li>
	{% endfor %}
	<li class="hover-me"><a href="/dash">Go Back</a> </li>	

</ul>









</body>
</html>

<!-- Values of the course will be fetched from the database and then shown up here in a loop -->

